# R files and project
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj*
.Rprofile

# OAuth
.httr-oauth

# Cache and outputs
cache/
data/
inputs/
outputs/

# Secrets
.secret
.secrets

# System files
.DS_Store

# Quarto
.quarto

# Restart files
.Restart*

